.title-banner {
	display: flex;
	flex-direction: column;
	width: 21rem;
	gap: 1rem;

	& img {
		width: 2.86569rem;
		height: 3rem;
	}
}

.text-banner {
	& h1 {
		color: var(--pink);
		font-family: "Leckerli One", sans-serif;
		font-size: 2.5rem;
		text-transform: capitalize;
	}
	& p {
		color: var(--text-heading);
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
		font-size: 1rem;
	}
}
